#t=脚本
#g=xjb
太閣立志傳５事件源文件
腳本:{

${1:}

}//腳本

#t=信息
#g=xxx
信息:劇本(${1:})//動態加載時，會用於生成動態事件ID
信息:作者(cexer)
信息:版本(0.0.1)
信息:說明()

#t=事件
#g=xsj
事件:${1:事件名稱}{
屬性:多次
發生契機:室內畫面表示後(無效,無效)
發生條件:{
    
}
執行:{
    
}//執行
}//事件:${1:事件名稱}


#t=功能
#g=xgn
功能:${1:}{
執行:{

}//執行
}//功能:${1:}

#t=定義
#g=xdy
定義:{{
    ${1:}
}}

#t=局部定義:{{...}}
#g=xjby
局部定義:${1:}{{
    
}}//局部定義:${1:}

#t=調用:(...)
#g=hdy
調用:${1:}
#t=功能調用:(...)
#g=gndy
功能調用:${1:}
